{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    

<main class="main">
    
    
    
    
    
    
    <section class="featured section" id="featured">

        {% include "partials/category_menu.html" %} 
        
        <h2 class="section__title" id="category">There are {{ categories.count}} Charging Types</h2>
        <div class="featured__container container">
            <ul class="featured__filters">
                
                
                {% for categories in categories %}               
                       <li>
                           <button class="featured__item" data-filter="">
                            <a href="{% url 'category-station-list' categories.cid %}">
                               <img src={{ categories.image.url }} alt="logo 3"></a>
                            </button>
                            <h3 class="section__title">{{ categories.title }}</h3>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="featured__content grid">

                        
                        
                        
                        {% for categories in categories %}
                        <article class="featured__card mix porsche">
                            <div class="shape shape__smaller"></div>
                            <h1 class="featured__title">{{ categories.title }}</h1>
                            <a href="{% url 'category-station-list' categories.cid %}"><img src={{ categories.image.url }} alt="featured 4" class="featured__img"></a>
                            <h3 class="featured__subtitle">{{ categories.category.count }} Station{{ categories.category.count|pluralize }}</h3>
                            <button class="button featured__button">
                                <i class="fa-solid fa-charging-station"></i>
                            </button>
                        </article>
                        {% endfor %}
                    </div>
                </div>
        </section>
    </main>
    {% endblock content %}